<!DOCTYPE doctype html>
<html lang="es">
  <head>
    <meta content="Script Hub" name="og:title" />
    <meta content="video" name="og:type" />
    <meta content="#FF0044" name="theme-color" />
    <meta content="https://discord.gg/NvjMkBw" name="og:url" />
    <meta content="https://cdn.discordapp.com/icons/606199542605414428/a_cfe648374dbf23005ee92cd5d5c4d4ab.png?size=2048" name="og:image" />
    <meta content="Ginko x Script Hub" name="og:site_name" />
    <meta content="Somos una comunidad de programadores que escribe guías, compartimos nuestras experiencias y ayudamos a responder dudas sobre programación." name="og:description" />
    <meta content="1; url=https://discord.gg/NvjMkBw" http-equiv="Refresh" />
  </head>
  <body>
    <i>
      Redireccionando...
    </i>
  </body>
</html>
