<html>
  <head>
    <title>Ginko</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="./../../css/main.css" />
    <noscript
      ><link rel="stylesheet" href="./../../css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <div id="wrapper">
      <header id="header">
        <p></p>
        <div class="logo">
          <img
            src="https://cdn.discordapp.com/avatars/621097720781996072/aad619952b963023d7c388efcc57fcc9.png"
          />
        </div>
        <div class="content">
          <div class="inner">
            <h1>Ginko</h1>
            <p>
              Ginko es un bot multipróposito de Discord programado en la
              librería discord.js
            </p>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="#intro">Ginko</a></li>
            <li><a href="#work">Repositorio</a></li>
            <li><a href="#about">Acerca</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </nav>
      </header>
      <div id="main">
        <article id="intro">
          <h2 class="major">Ginko</h2>
          <span class="image main"><img src="images/pic01.jpg" alt=""/></span>
        </article>
        <article id="work">
          <h2 class="major">Repositorio</h2>
          <span class="image main"><img src="images/pic02.jpg" alt=""/></span>
        </article>
        <article id="about">
          <h2 class="major">Acerca</h2>
          <span class="image main"><img src="images/pic03.jpg" alt=""/></span>
        </article>
        <article id="contact">
          <h2 class="major">Contacto</h2>
          <form method="post" action="#">
            <ul class="icons">
              <li>
                <a
                  href="https://github.com/wwmon/ginko"
                  class="icon brands fa-github"
                >
                  <span class="label">GitHub</span>
                </a>
              </li>
            </ul>
          </form>
        </article>
      </div>
      <footer id="footer">
        <p class="copyright">
          &copy; Ginko. 2019 - <%= (new Date().getYear()) + 1900 %>
        </p>
      </footer>
    </div>
    <div id="bg"></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
